/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --branding-color: #6c63ff;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

.hero h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}
.hero h2 {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 28px;
}
.hero p {
  font-family: var(--default-font);
  font-weight: bold;
  font-size: 36px;
}
.contact {
  font-family: var(--default-font);
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 20px;
  background: var(--branding-color);
  border-radius: 4px;
  color: #fff;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 160px 0;
}

h2 {
  font-family: var(--heading-font);
  font-size: 64px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.7;
}

.btn-branding {
  line-height: 30px;
  padding: 12px 20px;
  background: #fff;
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: var(--default-font);
  font-size: 18px;
}

.project-properties {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 60px;
    line-height: 1.5;
  }
  .hero {
    padding: 80px 0;
  }
  .project-properties {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }

  h4 {
    font-size: 18px;
  }

  footer .contact-box {
    padding: 30px;
  }
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font);
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font);
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}

.content {
  padding: 160px 0;
}

.button {
  background-color: #6c63ff;
  color: #fff;
}

.content-container img {
  max-width: 100%;
  height: auto;
  padding: 40px;
  border-radius: 4px;
  border: 2px solid #6c63ff;
}
.icon {
  padding-left: 5px;
  color: var(--branding-color);
  background-color: #faf5ff;
}

.link {
  text-decoration: none;
}

.logo {
  max-height: 40px;
}

.logo-small {
  max-width: 50px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav {
  padding: 25px 0;
  margin-right: 20px;
}
nav a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 26px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}
footer {
  margin: 50px 0;
}

footer .social-links {
  margin: 20px;
  color: var(--branding-color);
  width: 40px;
  height: 40px;
  padding: 15px;
  border-radius: 50%;
  background: #faf5ff;
}

footer .social-links:hover {
  color: white;
  background-color: var(--branding-color);
  transition: all 100ms ease-in-out;
}
footer .contact-box {
  background-color: #faf5ff;
  padding: 30px 120px;
  border-radius: 15px;
}

h4 {
  font-size: 48px;
}

footer .contact-box p {
  margin: 0;
}
